name: Android APK Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Gradle 4.4.1
        run: |
          wget https://services.gradle.org/distributions/gradle-4.4.1-bin.zip
          unzip -q gradle-4.4.1-bin.zip
          echo "$(pwd)/gradle-4.4.1/bin" >> $GITHUB_PATH

      - name: Cache Gradle files
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle

      - name: Build APK
        working-directory: wallet
        run: gradle clean build

      - name: Upload build outputs
        uses: actions/upload-artifact@v4
        with:
          name: apk-files
          path: wallet/build/outputs/apk/**/*.apk
