name: Android APK Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build APK with Docker
        run: docker build --file build.Containerfile --output type=local,dest=build-output .

      - name: Upload build outputs
        uses: actions/upload-artifact@v4
        with:
          name: apk-files
          path: build-output/*.apk
